

  <label for="message_your_message">Your message</label>:
    <textarea class="form-control" data-textarea="message" name="message[content]" id="message_content">
    </textarea>
  <input type="submit" name="commit" value="send" class="btn btn-primary" style="display: none" data-send="message" data-disable-with="send" />
